name: Analyze Pull Request

on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]

permissions:
  pull-requests: write

jobs:
  analyze-pr:
    runs-on: ubuntu-latest
    if: github.repository == 'facebook/react-native'
    steps:
      - name: Check out main branch
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: ./.github/actions/setup-node
      - name: Run yarn install
        uses: ./.github/actions/yarn-install
      - name: Check PR body
        id: check-pr-body
        uses: actions/github-script@v8
        with:
          script: |
            const validatePRBody = require('./.github/workflow-scripts/validatePRBody.js');
            const {message, status} = validatePRBody(context.payload.pull_request.body);
            core.setOutput('message', message);
            core.setOutput('status', status);
      - name: Post PR comment
        uses: ./.github/actions/post-pr-comment
        with:
          marker: '<!-- analyze-pr -->'
          sections: '[${{ toJSON(steps.check-pr-body.outputs.message) }}]'
      - name: Fail if validation errors
        if: steps.check-pr-body.outputs.status == 'FAIL'
        run: exit 1
